.woof {
    /*\ background-image: url("./assets/gradientred.png"); \*/
    height: 3000px; /* Used to enable scrolling */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1c1919;
    height: 100vh;
    width: 100vw;

}
body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}


.asci {
    color: white;
    position: absolute;
    bottom: 80px;
    left: 80px;

}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}