.woof {
    background-image: url("./assets/gradientred.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: "#00000";
    height: 100vh;
    width: 100vw;

}
body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.okok {
   position: absolute;
    bottom: 30px;
    right: 30px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, monospace;
    font-size: 40px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}